<!DOCTYPE>
<html>
	<head>
		<title>Abigail Plata </title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mainpage.css')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>


	<body>
		<header>
		<div class="topnav" id="myTopnav">
			<nav>
				<button class="button"> <a href="https://abbycadabyx3.pythonanywhere.com"><b>HOME</b></a> </button>
				<button class="button"> <a href=" "><b>RESUME</b></a> </button>
				<button class="button"><a href="https://www.linkedin.com/in/abigailplatax3/"><b>LINKEDIN</b></a> </button>
				<button class="button button2"><a href="mailto:&#97;&#98;&#105;&#103;&#97;&#105;&#108;&#112;&#108;&#97;&#116;&#97;&#97;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;"><b>EMAIL</b></a> </button>
				<button class="button button3"><a href="https://github.com/abigailplata"><b>GITHUB</b></a> </button>
				
				<div class = "dropdown">
				<button class="button morebutton" > <a><b>...</b> </a> </button>
					<div class="dropdown-content">
						<a href="#" onclick="window.print()">Print</a>
					  </div>
				</div>
			</nav>
		</div>
		</header>
	</body>


</html>