/* reesource for css grid: https://css-tricks.com/snippets/css/complete-guide-grid/*/

* {
    font-family: verdana, helvetica;	
}

.container {
	display: grid;

	grid-template-columns: 100px 100px 100px 100px;
	grid-auto-rows: auto;

	grid-template-areas: 
		". . header header"
		"main main sidebar sidebar"
		"footer footer footer footer"
	;
}

.item-one { grid-area: header; }

.item-two { grid-area: main;}

.item-three { grid-area: sidebar;}

.item-four { grid-area: footer;}


.button {
	background-color: #3bd967;
	border: none;
	color:white;
	padding: 10px 20px;
	text-align:center;
	text-decoration:none;
	display: inline-block;
	margin:4px 2px;
	cursor:pointer;
	border-radius:16px;
}

.button:hover {
	background-color:#50e67a;
}

.not1 {
	background-color: #434443;
	border: 10px;
	border-color: white;
}


a:link, a:visited {
	text-decoration: none;
	color:white;
}

header {
	width: 100%;
}

@media only screen and (max-width:600px) {
	.topnav button:not(:first-child) {display:none;}
	.topnav button.icon {
		float:right;
		display: block;
	}
}


@media only screen  and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) { 
	.topnav button:not(:first-child) {display:none;}
	.topnav button.icon {
		float:right;
		display: block;
	}
	/* [class*="column left"] {
		width:100%;
	}
	[class*="column right"] {
		display:none;
	} */
}