#general {
	padding: 30px;
	background-image:linear-gradient( #787878, #282828);
	font-family: verdana, helvetica;
	color: white;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}

#header_background{
	background-image:
    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(17, 17, 17, 0.73)),
    url('palmtrees.jpg');
    width: 100%;
    height: 43%;
    background-size: cover;
    color: white;
    padding: 20px;
}

#page-container{
	position:relative;
	min-height:100vh;
}

#content-wrap {
	padding-bottom:2.5rem;
}

/*  
#wrap {
	display: flex;
	flex-direction: column;
}

#content {
	flex:1;
}

#playbar {
	height: 3rem;
	color: white;
	background:rgba(57, 57, 58, 0.52);
	display: flex;
	padding: 0 5%;

	#buttonsPlaybar {
		user-select:none;

		.prev{
			margin: 0;
			padding: 0;
			border: 0;
			outline:0;
			background: transparent;
			color:white;
			&:hover {
				cursor: pointer;
				background: rgba(white,0.1);
			}
	}

	i {
		font-size:2rem;
		padding:0.5rem;
	}


	#track {
		flex:1;
	}
	.track{
		height:0.5rem;
		background:rgba(black,0.5);
		border-radius:0.25rem;
		margin: 1.25rem;

		.knob{
			position: absolute;
			width: 1rem;
			height: 1rem;
			border-radius: 50%;
			background: white;
			transform: translate(-25%, -25%);
			&:hover {
				cursor: pointer;
			}
		}
	}
} */

* {
	box-sizing: border-box;
}

.column {
	float:left;
	padding:10px;
}

.left {
	width:75%;
}

.right {
	width:25%;
}

.row{
	content:"";
	display: table;
	clear:both;
}

.button {
	background-color: #3bd967;
	border: none;
	color:white;
	padding: 10px 20px;
	text-align:center;
	text-decoration:none;
	display: inline-block;
	margin:4px 2px;
	cursor:pointer;
	border-radius:16px;
}

.button:hover {
	background-color:#50e67a;
}

.button2 {
	background-color: #434443;
	border: 10px;
	border-color: white;
}

.button3{
	background-color: #434443;
	border: 10px;
	border-color: white;
}

.morebutton{
	background-color: #434443;
	border: 10px;
	border-color: white;
	color:white;
	padding: 10px 10px;
	text-align:center;
	text-decoration:none;
	display: inline-block;
	margin:4px 2px;
	cursor:pointer;
	border-radius:70%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #434443;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 10px;
  }

/* Links inside the dropdown */
.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 13px;
	display: block;
	border-radius: 10px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #50e67a}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
	display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
	background-color: #3e8e41;
  }

.playcircle {
	height: 30px;
	width: 30px;
	background-color: transparent;
	border: rgb(182, 181, 181);
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
	display: inline-block;
	z-index:1;
	margin-top: 8px;
	margin-bottom:5px;
}

/* triangle right equilateral */
/* fix position */
.playtriangle {
	
	--side-size: 5px ;
	border-right: var(--side-size) solid transparent;
    border-top: var(--side-size) solid transparent;
    border-left: calc(2 * var(--side-size) * 0.866) solid rgb(182, 181, 181);
    border-bottom: var(--side-size) solid transparent;
	z-index: 2;
	display:block;
	position: absolute; /* only works on your screen */
	left: 591px; 
	bottom:20px;
	
}

.skiptriangle {
	--side-size: 5px ;
	border-right: var(--side-size) solid transparent;
    border-top: var(--side-size) solid transparent;
    border-left: calc(2 * var(--side-size) * 0.866) solid rgb(182, 181, 181);
    border-bottom: var(--side-size) solid transparent;
	z-index: 2;
	display:block;
	position: absolute; /* only works on your screen */
	left: 625px; 
	bottom:20px;
}

.skipline {
	width:1px;
	height:11px;
	border:1px solid rgb(182, 181, 181);
	background-color: rgb(182, 181, 181);
	position: absolute;
	left: 633px;
	bottom: 20px;

}


.rewindline {
	width:1px;
	height:11px;
	border:1px solid rgb(182, 181, 181);
	background-color: rgb(182, 181, 181);
	position: absolute;
	left: 548px;
	bottom: 20px;
}

.rewindtriangle {
	--side-size: 5px ;
	border-left: var(--side-size) solid transparent;
    border-top: var(--side-size) solid transparent;
    border-right: calc(2 * var(--side-size) * 0.866) solid rgb(182, 181, 181);
    border-bottom: var(--side-size) solid transparent;
	z-index: 2;
	display:block;
	position: absolute; /* only works on your screen */
	left: 545px; 
	bottom:20px;
}

.curvedline {
	
}

a:link, a:visited {
	text-decoration: none;
	color:white;
}

ul {
	list-style-image: url('/static/playbutton3.png');
}

header {
	width: 100%;
}

h1 {
	font-size:3.90625vw;
}

h2 {
 display: inline-block;
padding-bottom:15px;
position:relative; 
}

h2:before{
	content: "";
	position:absolute;
	width:50%;
	height: 1px;
	bottom:0;
	left:25%;
	border-bottom:4px solid #3bd967;
}

h3 {
	margin:0;
	padding: 0;
}

h4 {
	margin:0;
	padding:0;
	font:Tahoma;
	font-size: 12px;
	font-weight:100;
	color: #DCDCDC;
}

footer {
	background-color: #525050;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3rem;
	z-index:1;
}


@media only screen and (max-width:600px) {
	.topnav button:not(:first-child) {display:none;}
	.topnav button.icon {
		float:right;
		display: block;
	}
}
